@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
    box-sizing: border-box;
}
body {
    margin: 0;
    min-height: 100vh;
    background-color: #DFDBE5;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80' width='80' height='80'%3E%3Cg fill='%239C92AC' fill-opacity='0.35'%3E%3Cpath d='M0 0h80v80H0V0zm20 20v40h40V20H20zm20 35a15 15 0 1 1 0-30 15 15 0 0 1 0 30z' opacity='.5'%3E%3C/path%3E%3Cpath d='M15 15h50l-5 5H20v40l-5 5V15zm0 50h50V15L80 0v80H0l15-15zm32.07-32.07l3.54-3.54A15 15 0 0 1 29.4 50.6l3.53-3.53a10 10 0 1 0 14.14-14.14zM32.93 47.07a10 10 0 1 1 14.14-14.14L32.93 47.07z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    color: #000;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


.quote-container {
    width: auto;
    max-width: 900px;
    padding: 20px 30px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.quote-text {
    font-size: 2.75rem;
}

.long-quote {
    font-size: 2rem;
}

.fa-quote-left {
    font-size: 4rem;
}

.quote-author {
    margin-top: 15px;
    font-size: 2rem;
    font-weight: 400;
    font-style: italic;
}

button {
    cursor: pointer
    font-size: 1.2rem;
    height: 2.5rem;
    border: none;
    border-radius: 10px;
    color: #fff;
    background: #333;
    outline: none;
    padding: 0.5rem 1.8rem;
    box-shadow: 0.03rem rgba(121, 121, 121, 0.65)
}

button:hover {
    filter: brightness(115%);
}

button:active {
    transform: translate(0, 00.03rem);
    box-shadow: 0, 0.1rem rgba(255, 255, 255, 0.65);
}

.twitter-button:hover {
    color: #38a1f3;
}

.fa-twitter {
    font-size: 1.5rem;
}

/* loader */

/* .loader {
    background: #b9b6b6;
    margin: 0;
  }
  h1 {
    display: block;
    width: 100%;
    position: absolute;
    text-align: center;
    font-family: sans-serif;
    color: #FFF;
  }
  .spinner {
    position: absolute;
    top: 10%;
    left: 50%;
    text-align: center;
    transform: translateX(-50%); 
    .ball-container {
      width: 40px;
      transform: translate(130px, -140px);
    }
    .ball {
      width: 40px;
      transform-origin: bottom;
      animation: bounce 500ms infinite alternate cubic-bezier(0.35, 0.50, 0.65, 0.50);
      circle {
        fill: #FFF;
      }
    }
    .raquet {
      transform-origin: bottom;
      width: 85px;
      height: 142px; 
      #sor-1 {
        fill: rgba(0, 0, 0, 0.2);
        animation: shadow 500ms infinite 500ms alternate cubic-bezier(0.35, 0.50, 0.65, 0.50);
      }
      #sor-2 {
        fill: rgba(0, 0, 0, 0.2);
        animation: shadow 500ms infinite alternate cubic-bezier(0.35, 0.50, 0.65, 0.50);
      }
      &#r-1 {
        transform: translateX(70px) rotateZ(45deg);
        animation: hit-1 1000ms infinite 300ms ease-in-out;
      }
      &#r-2 {
        transform: translateX(-70px) rotateZ(-45deg);
        animation: hit-2 1000ms infinite -200ms ease-in-out;
      }
      .front {
        fill: #222;
      }
      .middle {
        fill: #070;
      }
      .back {
        fill: #D00;
      }
      .handle {
        &.outer {
          fill: #a8712a;
        }
        &.inner {
          fill: #e0973e;
        }
      }
    }
    .shadow {
      transform: translateY(-150px);
      -webkit-filter: blur(2px);
      ellipse {
        fill: rgba(0, 0, 0, 0.1)
      }
      #sr-1, #sr-2, #sb {
        transform-origin: center;
      } 
      #sr-1 {
        animation: grow 1000ms infinite -200ms ease-in-out;
      }
      #sr-2 {
        animation: grow 1000ms infinite 300ms ease-in-out;
      }
      #sb {
        animation: swing 500ms infinite alternate cubic-bezier(0.35, 0.50, 0.65, 0.50);
      }
    }
  }
  
  @keyframes bounce {
    0% {
      transform: rotateZ(45deg);
    }
    100% {
      transform: rotateZ(-45deg);
    }
  }
  
  @keyframes swing {
    0% {
      opacity: 0;
      transform: translateX(70px) scale(1.2);
    }
    25%, 75% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateX(0px) scale(0.9);
    }
    100% {
      opacity: 0;
      transform: translateX(-70px) scale(1.2);
    }
  }
  
  @keyframes hit-1 {
    0%, 50%, 100% {
      transform: translate(70px, 3px) rotateZ(45deg);
    }
    75% {
      transform: translate(69px, -2px) rotateZ(42deg);
    }
  }
  
  @keyframes hit-2 {
    0%, 50%, 100% {
      transform: translate(-70px, 3px) rotateZ(-45deg);
    }
    75% {
      transform: translate(-69px, -2px) rotateZ(-42deg);
    }
  }
  
  @keyframes grow {
    0%, 50%, 100% {
      transform: scale(1);
    }
    75% {
      transform: scale(0.9);
    }
  }
  
  @keyframes shadow {
    0%, 40% {
      transform: translate(25px, 200px) scale(0.5);
    }
    100% {
      transform: translate(0px, 0px) scale(1);
    }
  } */
.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #333;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.button-container {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
/* Media Query: Tablet or smaller */
@media screen and (max-width: 1000px) {
    .quote-container {
        margin: auto 10px;
    }

    .quote-text {
        font-size: 2.5rem;
    }
}